# Terraform
**/.terraform/
*.tfstate
*.tfstate.backup
*.tfstate.lock.info
.terraform.lock.hcl
terraform.tfvars
*.auto.tfvars
*.tfplan

# クラッシュログ
crash.log
crash.*.log

# 機密情報
*.pem
*.key
.env
*.secret
*.local

# OS
.DS_Store
Thumbs.db

# エディタ
.vscode/
.idea/
*.swp
